* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #FF6900;
  width: 100%;
  color: white;
  padding: 10px;
  position: fixed;
  z-index: 1;
  box-shadow: 0px 5px 20px black;
}

main {
  max-width: 1000px;
  height: auto;
  padding-top: 60px;
  margin: 0 auto;
}

footer {
  width: 100%;
  height: auto;
  background-color: rgb(34, 34, 34);
  padding: 10px;

}

.container-head {
  max-width: auto;
  height: auto;
  margin: 0 auto;
  display: flex;

}

.container-foot {
  max-width: auto;
  height: auto;
  margin: 0 auto;
  display: flex;
}

.center {
  text-align: center;
  align-content: center;
}


.col-25 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  width: 25%;
  height: auto;

}

.col-50 {
  width: 50%;
  height: auto;
}

.col-50 img {
  width: 20%;
}


.container-main {
  padding: 30px;
  max-width: 850px;
  height: auto;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.justify-content-center {
  justify-content: center;
}

.col-33 {
  width: calc(90% / 3);
}


.h-500 {
  height: 400px;
}

.card {
  position: relative;
}

.card img {
  width: 100%;
}

.col-50 {
  width: 50%;
  color: white;
  line-height: 20px;
}

.col-50 h4 {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  padding-left: 220px;
}

.col-50 li {
  font-size: 10px;
  display: inline;
  padding: 10px;
}

.col-50 a {
  color: white;
  text-decoration: none;
}

.col-25 a {
  color: white;
  text-decoration: none;
}

.col-50 i {
  padding: 5px
}

.heart {
  width: 30px;
  height: 30px;
  background-color: white;
  color: black;
  padding: 6px;
}

.heart:hover {
  color: red;
}

.position-absolute {
  position: absolute;
  top: 0;
  right: 0;
}

.bg-green {
  background-color: green;
}

.bg-red {
  background-color: red;
}

.discount {
  width: 40px;
  height: 20px;
  padding: 3px 5px;
  color: white;
  font-size: 12px;
  position: absolute;
  top: 300px;
  left: 0;

}

.greensos {
  width: 70px;
  height: 20px;
  padding: 4px 5px;
  color: white;
  font-weight: bold;
  font-size: 10px;
  position: absolute;
  top: 300px;
  right: 120px;
}

.px-0 {
  position: absolute;
  left: 0px;

}

.py-2 {
  position: absolute;
  top: 330px;
}

.product {
  width: 100%;
  height: auto;
  padding: 1px 2px;
  color: black;
}

.product ul li {
  list-style-type: none;
}

.product ul li:first-child {
  font-size: 12px;
}

.product ul li:nth-child(2) {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
}

.product ul li:last-child span {
  color: red;
  font-weight: bold;
}

.product ul li:last-child {
  font-size: 13px;
}

.front-image {
  display: block;
}

.card:hover .front-image {
  display: none;
}

.back-image {
  display: none;
}

.card:hover .back-image {
  display: block;
}



/* pagina aggiuntiva */

.boximagedet {
  width: 350px;
}

.container-mainextra {
  padding: 0px;
  max-width: 850px;
  height: auto;
  margin: 0 auto;
}